* {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 font-family: Roboto;
}
 :root {
	 --fontColor: #035755;
	 --fontRedHat: 'Red Hat Display', sans-serif;
}
 body {
	 background: white;
}
 .header {
	 padding-top: 31px;
	 padding-bottom: 31px;
}
 .header .nav-frame {
	 display: flex;
	 justify-content: space-between;
	 position: relative;
	 flex-direction: column;
}
 .header .pageLogo {
	 height: 60px;
	 width: 189px;
}
 .header .open-menu {
	 cursor: pointer;
	 border: 1px solid #035755;
	 border-radius: 20%;
	 position: absolute;
	 right: 0;
	 top: 15px;
}
 .header .open-menu .line {
	 width: 30px;
	 height: 3px;
	 background-color: #ff5476;
	 margin: 5px;
}
 .header .nav-links {
	 position: absolute;
	 flex-direction: column;
	 border: 1px solid silver;
	 border-radius: 0 0 10px 10px;
	 display: none;
	 background-color: rgba(255, 255, 255, 0.8);
	 top: 70px;
	 width: 100%;
	 z-index: 1;
}
 .header .nav-links .nav-link {
	 position: relative;
	 font-size: 15px;
	 color: var(--fontColor);
	 text-decoration: none;
	 text-align: center;
	 margin: 10px 0px;
	 cursor: pointer;
}
 .header .nav-links .nav-link.active {
	 color: #fb4c47;
}
 .header .nav-links .nav-link:hover {
	 color: #fb4c47;
}
 .nav-links.nav-open {
	 display: flex;
	 padding-bottom: 10px;
}
 .section {
	 padding-bottom: 100px;
}
 .section .direction {
	 display: flex;
	 align-items: center;
	 flex-direction: column-reverse;
}
 .section .center {
	 display: flex;
	 align-items: center;
}
 .section__title {
	 font-family: var(--fontRedHat);
	 font-weight: bold;
	 font-size: 24px;
	 line-height: 70px;
	 color: #fa5652;
}
 .section__span {
	 font-family: var(--fontRedHat);
	 font-weight: bold;
	 font-size: 36px;
	 line-height: 40px;
	 color: #035755;
	 text-transform: capitalize;
}
 .section__desc {
	 margin-top: 20px;
	 font-family: Roboto;
	 font-weight: normal;
	 font-size: 18px;
	 line-height: 30px;
	 color: #4b4f51;
	 /* text-transform: capitalize; */
}
 .section__button {
	 position: relative;
	 top: 40px;
	 padding: 15px 40px;
	 font-size: 15px;
	 color: #fff;
	 text-decoration: none;
	 background: #fb4c47;
	 box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
	 border-radius: 65px;
	 font-weight: 600;
	 letter-spacing: 0.05em;
}
 .section__button:hover {
	 box-shadow: 0px 0px 20px rgba(199, 199, 199, 0.7);
	 transition: 0.3s ease;
}
 .section__image {
	 width: 300px;
	 z-index: 0;
}
 .section__virus1 {
	 position: absolute;
	 bottom: 40px;
	 left: 0px;
	 width: 150px;
	 z-index: -1;
	 animation: spin 10s linear infinite;
}
 .section__virus2 {
	 position: absolute;
	 top: 0;
	 right: 0px;
	 width: 100px;
	 opacity: 0.8;
	 z-index: -1;
	 animation: spin 20s linear infinite;
}
 .section__virus3 {
	 position: absolute;
	 top: 200px;
	 right: 40px;
	 width: 100px;
	 z-index: -1;
	 animation: spin 20s linear infinite;
}
 @keyframes spin {
	 100% {
		 -webkit-transform: rotate(360deg);
	}
}
 .section .covidImage__image {
	 width: 330px;
}
 .coronavirus__title {
	 font-weight: bold;
	 font-family: var(--fontRedHat);
	 font-size: 20px;
	 line-height: 124%;
	 color: #fa5652;
}
 .coronavirus__span {
	 font-weight: bold;
	 font-size: 40px;
	 font-family: var(--fontRedHat);
	 line-height: 60px;
	 text-transform: capitalize;
	 color: #035755;
}
 .coronavirus__desc {
	 margin-top: 18px;
	 font-weight: normal;
	 font-size: 20px;
	 line-height: 30px;
	 /* text-transform: capitalize; */
	 color: #4b4f51;
	 font-family: Roboto;
}
 .coronavirus__button {
	 position: relative;
	 background: rgba(250, 86, 82, 0.15);
	 border-radius: 65px;
	 padding: 21px 50px;
	 font-weight: 600;
	 font-size: 15px;
	 line-height: 24px;
	 top: 55px;
	 text-transform: capitalize;
	 color: #fa5652;
	 text-decoration: none;
}
 .coronavirus__button:hover {
	 box-shadow: 0px 0px 20px rgba(199, 199, 199, 0.2);
}
 .upside {
	 margin-bottom: 70px;
}
 .upside__title {
	 font-family: var(--fontRedHat);
	 font-weight: bold;
	 font-size: 20px;
	 text-align: center;
	 color: #fa5652;
	 margin-top: 40px;
}
 .upside__span {
	 display: block;
	 font-family: var(--fontRedHat);
	 font-weight: bold;
	 font-size: 40px;
	 text-align: center;
	 text-transform: capitalize;
	 color: #035755;
	 margin-bottom: 20px;
}
 .upside__desc {
	 font-family: Roboto;
	 font-weight: normal;
	 font-size: 18px;
	 line-height: 30px;
	 text-align: center;
	 text-transform: capitalize;
	 color: #4b4f51;
}
 .contagion .card {
	 box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.08);
	 border-radius: 10px;
	 margin-bottom: 30px;
	 text-align: center;
	 padding: 40px 30px 60px;
	 min-height: 450px;
	 overflow: hidden;
	 cursor: pointer;
	 border-bottom: 6px solid #fa5652;
	 border: none;
}
 .contagion .card:hover {
	 box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
	 border-bottom: 6px solid #fa5652;
}
 .contagion .card__figure {
	 margin: auto;
	 display: block;
	 width: 250px;
}
 .contagion .card__image {
	 width: 220px;
}
 .contagion .card__title {
	 margin-top: 30px;
	 font-weight: bold;
	 font-size: 20px;
	 line-height: 147%;
	 text-transform: capitalize;
	 color: #035755;
	 display: -webkit-box;
	 -webkit-line-clamp: 1;
	 -webkit-box-orient: vertical;
	 overflow: hidden;
}
 .contagion .card__desc {
	 margin-top: 13px;
	 font-size: 16px;
	 line-height: 25px;
	 text-align: center;
	 text-transform: capitalize;
	 color: #4b4f51;
	 overflow: hidden;
	 display: -webkit-box;
	 -webkit-line-clamp: 3;
	 -webkit-box-orient: vertical;
	 overflow: hidden;
}
 .symptomps {
	 text-align: center;
}
 .symptomps__image {
	 width: 300px;
}
 .symptomps__left {
	 position: absolute;
	 bottom: 90px;
	 left: 20px;
	 width: 80px;
}
 .prevention {
	 text-align: center;
}
 .prevention .row-position {
	 display: flex;
	 align-items: center;
}
 .prevention .row-position:nth-child(odd) {
	 flex-direction: row-reverse;
}
 .prevention__image {
	 margin-top: 30px;
	 width: 330px;
}
 .prevention__span {
	 font-weight: bold;
	 font-size: 30px;
	 text-transform: capitalize;
	 color: #035755;
	 align-items: center;
	 display: inline-flex;
}
 .prevention__number {
	 padding: 10px;
	 margin-right: 15px;
	 background: rgba(250, 86, 82, 0.15);
	 text-transform: capitalize;
	 color: #fa5652;
	 font-size: 30px;
	 border-radius: 100%;
}
 .prevention__desc {
	 margin-top: 20px;
	 font-weight: normal;
	 font-size: 18px;
	 line-height: 30px;
	 text-transform: capitalize;
	 color: #4b4f51;
}
 .contact {
	 margin-top: 50px;
}
 .contact .help {
	 position: relative;
}
 .contact .help__desc {
	 margin: auto;
	 font-weight: bold;
	 font-size: 40px;
	 line-height: 60px;
	 text-align: center;
	 color: #0c6c44;
}
 .contact .help__mail {
	 background: #fff;
	 box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
	 border-radius: 57px;
	 padding: 30px 40px;
	 outline: none;
	 border: none;
	 margin-top: 50px;
	 width: 100%;
	 font-size: 14px;
}
 .contact .help__mail::placeholder {
	 font-size: 14px;
	 color: #758681;
	 letter-spacing: 0.07em;
}
 .contact .help__send {
	 position: absolute;
	 background: #f44a45;
	 border-radius: 157px;
	 border: none;
	 font-weight: 500;
	 font-size: 14px;
	 line-height: 26px;
	 color: #fff;
	 padding: 10px 30px;
	 right: 15px;
	 bottom: 15px;
	 outline: none;
	 cursor: pointer;
}
 .footer {
	 text-align: center;
	 padding-bottom: 50px;
}
 .footer .logo-figure {
	 margin-top: 30px;
	 margin-bottom: 10px;
}
 .footer__link {
	 font-size: 13px;
	 line-height: 28px;
	 color: #00402e;
	 text-decoration: none;
	 cursor: pointer;
}
 .footer__link:not(:last-of-type) {
	 margin-right: 10px;
}
 .footer .social-figure {
	 text-align: center;
	 margin: auto;
	 margin-top: 25px;
}
 .footer .social-figure a:not(:last-of-type) {
	 margin-right: 15px;
}
 .top {
	 margin-top: -60px;
}
 .text-position {
	 text-align: center;
}
 @media screen and (min-width: 768px) {
	 .row.direction {
		 flex-direction: row;
	}
	 .open-menu {
		 display: none;
	}
	 .nav-frame {
		 flex-direction: row;
	}
	 .header .nav-links {
		 width: auto;
		 display: inline-flex;
		 flex-direction: row;
		 position: absolute;
		 right: 0;
		 top: 50%;
		 border: none;
		 transform: translateY(-50%);
		 background-color: transparent;
	}
	 .header .nav-links .nav-link {
		 display: flex;
		 align-items: center;
	}
	 .header .nav-links .nav-link:not(:last-child) {
		 margin-right: 20px;
	}
	 .header .nav-links .nav-link:last-child {
		 border: 2px solid #fb4c47;
		 border-radius: 46px;
		 padding: 10px 35px;
		 color: #ff383d;
	}
	 .header .nav-links .nav-link:last-child:hover {
		 background-color: #fb4c47;
		 color: #fff;
		 transition: 0.3s;
	}
	 .header .nav-links .nav-link.active::after, .header .nav-links .nav-link:not(:last-of-type):hover::after {
		 position: absolute;
		 content: "";
		 width: 10px;
		 height: 10px;
		 background-color: #fa5652;
		 bottom: -15px;
		 left: 50%;
		 transform: translateX(-50%);
		 border-radius: 100%;
	}
	 .text-position {
		 text-align: left;
	}
	 .coronavirus .covidImage {
		 margin-top: 75px;
	}
	 .upside--top {
		 margin-top: -60px;
	}
	 .upside__title {
		 margin-top: 40px;
	}
	 .upside__desc {
		 width: 80%;
		 margin: auto;
	}
	 .symptomps__image {
		 width: 600px;
	}
	 .prevention {
		 text-align: left;
	}
	 .prevention__image {
		 width: 300px;
	}
	 .help {
		 margin: auto;
		 width: 70%;
	}
	 .footer {
		 padding-top: 100px;
	}
	 .footer .logo-figure, .footer .social-figure {
		 margin: 0;
		 align-items: center;
	}
	 .footer .align-center {
		 display: flex;
		 align-items: center;
	}
}
 @media screen and (min-width: 992px) {
	 #nav-links .nav-link:not(:last-child) {
		 margin-right: 40px;
	}
	 .section .text-position {
		 text-align: left;
	}
	 .section__image {
		 width: 500px;
	}
	 .section__virus1 {
		 top: 0px;
		 left: -40px;
		 width: 110px;
	}
	 .coronavirus .covidImage {
		 margin: 0;
	}
	 .coronavirus .covidImage__image {
		 width: 450px;
	}
	 .coronavirus__desc {
		 text-align: left;
	}
	 .symptomps__image {
		 width: 800px;
	}
	 .prevention__desc {
		 padding-left: 70px;
	}
	 .prevention__image {
		 width: 450px;
	}
	 .help {
		 margin: auto;
		 width: 40%;
	}
}
 